@page "/productoindex/nueva"
@page "/productoindex/editar{Id:int}"
@rendermode InteractiveServer
@inject NavigationManager _navigator;
@inject IRepositorioProducto _repositorio;

<h3>@_mensaje Producto</h3>

<EditForm Model="_producto" FormName="fmrProducto" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="row mb-3">
        <label for="txtNombre" class="col-2 col-form-label">Nombre</label>
        <InputText id="txtNombre" class="form-control" @bind-Value="_producto.Nombre" />
        <ValidationMessage For="()=>_producto.Nombre" />
    </div>
    <div class="row mb-3">
        <label for="txtPrecio" class="col-2 col-form-label">Precio</label>
        <InputNumber id="txtPrecio" class="form-control" @bind-Value="_producto.Precio" />
        <ValidationMessage For="()=>_producto.Precio" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <button class="btn btn-danger ms-3" @onclick="Cancelar" @onclick:preventDefault>Cancelar</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }
    private string _mensaje = "";
    private Producto? _producto = new();

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            _producto = await _repositorio.Get(Id);
            _mensaje = "Modificar";
        }
        else
        {
            _mensaje = "Nueva";
        }
    }

    private async void Guardar()
    {
        if (Id > 0)
        {
            await _repositorio.Update(Id, _producto!);
        }
        else
        {
            await _repositorio.Add(_producto!);
        }
        Cancelar();
    }

    private void Cancelar()
    {
        _navigator.NavigateTo("/productoindex");
    }
}
